     <!-- INICIO DO CONTEUDO -->
     <div class="col-xs-12 col-sm-6" *ngFor="let reviews of reviews | async">

      <div class="box box-solid">
        <div class="box-header with-border">
          <span class="review-score pull-right"><i class="fa fa-star"></i> {{ reviews.rating }}</span>
          <div class="user-block">
            <img *ngIf="reviews.rating < 3 " alt="User Image" class="img-circle" src="assets/img/reactions/pissed.png">
            <img *ngIf="reviews.rating >= 3 && reviews.rating <4" alt="User Image" class="img-circle" src="assets/img/reactions/soso.png">
            <img *ngIf="reviews.rating >= 4  " alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
            <span class="username">{{ reviews.name }}</span>
            <span class="description">{{ reviews.date | date:'dd/MM/yyyy'}}</span>
          </div>
        </div>

          <div class="box-body">
            <p>{{ reviews.comments }}</p>
          </div>
      </div>


    </div>
    <!--FIM DO CONTEUDO -->
